data/
build/
out/

*.exe
*.run

*.db
*.sqlite
*.sqlite3

.git/
.img/
.dart_tool/
.coverage/
.github/
.vscode/
.temp/

tool/
test/

Dockerfile
docker-compose.yml
docker-stack.yml
Makefile
.gitignore
.dockerignore
.packages
.env
.env.template
