# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Codegen
*.g.dart

# Data
data/

# Test
.coverage/
/test/**/*.json
/test/.test_coverage.dart
/reports
/coverage

# Database
*.sqlite
*.sqlite3
*.db

# Config file
.env
